.containerabout {
    /* La primera columna ajustará su tamaño automáticamente según el contenido */
   
    height: 600px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    
    text-decoration: none;
    width: 500px;   
    margin-left: auto;
    margin-right: auto;
    justify-content: left;
    align-items: left;   
    flex-direction: column;
    background-image: url("./gorick.jpg");    
    background-size: cover;
    

}    

.container h1{
color: rgb(202, 192, 206);
font-family: "Poppins", sans-serif;
font-size: 18px;
width: 100%;
margin: 10%;
}

.container h3{
    color: rgb(202, 192, 206);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    width: 100%;
    margin: 10%;
    
    
    
    }

    .container p{

        color: rgb(202, 192, 206);
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        width: 100%;
        margin: 10%;
        text-transform: unset;


    }

.container{
    height: 600px;    
    background-color: rgba(0, 0, 0, 0.541);   
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    text-decoration: none;
    width: 50%;   
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    
    
    ;

}

